
# external folder created by build_magnum.sh
external/

# intermediate build files
build/
build_debug/
bps_pytorch/bps_pytorch.egg-info/

# our binary python extensions
habitat_ml_renderer_python.*.so
bps_pytorch/bps_pytorch.*.so

.vscode/