# folder created by build_magnum.sh
/magnum_root

# folder created by build_mochi.sh
/mochi

# external data location where users download data
/data

# intermediate build files
/build/
/build_debug/
/cpp/build/
/install/
/python/cuda_tensor_helper_src/cuda_tensor_helper.egg-info/
/python/habitat_ml_renderer/habitat_ml_renderer.egg-info/
/python/tbd/src/tbd.egg-info

# our binary python extensions
/python/habitat_ml_renderer/habitat_ml_renderer.*.so
/python/cuda_tensor_helper_src/cuda_tensor_helper.*.so

.vscode/

__pycache__/

# temp files produced by test.py
/output_*.png

