
# external folder created by build_magnum.sh
magnum_root/install_root
magnum_root/corrade
magnum_root/magnum
magnum_root/magnum-plugins

# intermediate build files
build/
build_debug/
cuda_tensor_helper/cuda_tensor_helper.egg-info/

# our binary python extensions
habitat_ml_renderer.*.so
cuda_tensor_helper/cuda_tensor_helper.*.so

.vscode/